
/* スマホ　767px以下 */
@media only screen and (max-width: 767px) {
	.main{
		width: 90%;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		background-color: #ddd;
	}
	.side-menu{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		border-top: 1px solid #333;
	}
	.side-menu li a{
		display: block;
		height: 44px;
		line-height: 44px;
		border-bottom: 1px solid #333;
		text-decoration: none;
		color: #333;
	}
}

/* pc　768px以上 */
@media only screen and (min-width: 768px), print {
	.wrap{
		overflow: hidden;
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	.main{
		float: left;
		width: 630px;
		height: 300px;
		background-color: #ddd;
	}
	.side-menu{
		float: right;
		width: 300px;
		border-top: 1px solid #333;
	}
	.side-menu li a{
		display: block;
		height: 44px;
		line-height: 44px;
		border-bottom: 1px solid #333;
		text-decoration: none;
		color: #333;
	}
}
