/* -*- Coding: utf-8 -*- */

body {
    font-family: 'UD Shin Go Regular';
    font-size: 150%;
}
@media screen and (max-width: 1080px) {
    body {
	font-size: 170%;
    }
}
a {
  margin: 0.3em;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 0.8em;
  text-decoration: none;
  width: 200px;
}
.main .c1 {
  color: black;
  font: 'UD Shin Go Medium';
  background: #cae4db;
}
.main .c2 {
  color: white;
  font: 'UD Shin Go Medium';
  background: #dcae1d;
}
.main .c3 {
  color: white;
  font: 'UD Shin Go Medium';
  background: #00303f;
}
.main .c4 {
  color: white;
  font: 'UD Shin Go Medium';
  background: #7a9d96;
}
.main .c1n {
  color: gray;
  background: #cae4db;
}
.main .c2n {
  color: #e4e4e4;
  background: #dcae1d;
}
.main .c3n {
  color: #d0d0d0;
  background: #00303f;
}
.main .c4n {
  color: #dcdcdc;
  background: #7a9d96;
}
.main {
  display: flex;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  width: 100%;
  top: 10%; 
  color: #fff;
  font-size: 250%;
  margin: 0 10em 0 0;
  padding: 0 10em 0 0;
  text-align: center;
}
img {
    width: 100%;
    max-width: 1000px;
    min-width: 600px;
    height: auto;
}
